<section class="container-fluid p-3">

    <h1 class="mb-10">Role: {{user.role}}</h1>
    
    <div class="col-6 mx-auto" >

        <div class="profileContainer">

            <section class="mx-auto">
                
                {{#if user.first_name}}
                    <h1 class="mb-3">Bienvenido {{user.first_name}}! </h1>
                {{else}}
                    <h1 class="mb-3">Bienvenido {{user.full_name}}! </h1>
                {{/if}}

                <section class="profile mb-3">
                    <i class="bi bi-person-circle userIcon" ></i>
                </section>

                <section class="mb-3 datesContainer">
                    <ul class="datesUl">

                        {{#if user.email}}
                            <li>Email: {{user.email}}</li>   
                            <li>Username: {{user.username}}</li> 
                        {{else}}
                            <li>Username: {{user.username}}</li>   
                        {{/if}}

                        {{#if user.age}}
                            <li>Age: {{user.age}}</li>
                        {{/if}}
                    </ul>
                </section>

                <form id="logoutForm" class="logout">

                    <button type="submit" class="btn btn-danger buttonLogout" id="btnLogout">
                        <div class="linkLogout">
                            <i class="bi bi-person-circle btnUserIcon"></i>
                            <p>logout</p>
                        </div>
                    </button>

                </form>

            </section>
        </div>

    </div>

</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="/js/logout.js"></script>